*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(209, 208, 204, 0.6);
  position: relative;
  /* font-family: 'Montserrat'; */
}

/* #landing--container {
  margin: 20px;
} */

.title {
	color: #5C6AC4;
}

.no--display {
  display: none;
}

nav {
  display: flex;
  background-color: #369869;
  height: 15vw;
  line-height: 15vw;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
  padding: 0 5vw;
}

#logo {
  height: 65%;
  width: 30%;
  background-image: url('../images/logo.png');
  background-color: #369869;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-grow: 1;
}

/* these are btns in nav */
.show--forms {
  background-color: #12E400;
  border-radius: 21px;
  color: #1025DC;
  width: 15vw;
  height: 4vw;
  text-align: center;
  cursor: pointer;
  font-family: 'Montserrat' monospace;
  font-size: 2vw;
  flex-grow: 0;
}

nav > div:hover {
  background-color: rgba(199, 175, 107, 1);
}

.hand--pointer {
  cursor: pointer;
}

.landing--container {
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  width: 64vw;
  gap: 2vw;
}

.angular--sides {
  width: 40vw;
  height: 60%;
  background-color: rgba(108, 240, 121, 0.4);
  border-top-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.angular--sides > p {
  width: 90%;
}

.hero {
  width: 30vw;
  /* height: 20rem; */
  aspect-ratio: 1/1;
}

.hero > img {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
}

.center--content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.center--content--horizontally {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center--content--vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--desc {
  font-family: 'jetBrains Mono' monospace;
  font-size: 1.6vw; /*  make resp */
  color: #007A0C;
  line-height: 2vw;
  letter-spacing: .08vw;
}

.bottom--border {
  width: 80%;
  height: 2px;
  background-color: #A8D3BE;
  justify-self: center;
}

/* footer */

footer {
  font-family: 'jetBrains Mono' monospace;
  background-color: #369869;
  height: 40vw;
}

.footer--container {
  margin: auto;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: .2rem; */
}

.white--bg {
  background-color: #FFF;
  color: #000;
}

.dev--label {
  width: 35%;
  height: 12%;
  font-size: 2.5vw;
}

.dev--details {
  background-color: #12E400;
  color: rgba(16, 37, 220, 0.9);
  line-height: 1.2vw;
  letter-spacing: 0.1vw;
  font-size: 1.2vw;
  width: 48%;
  height: 100%;
}

.dev--details > * {
  width: 85%;
  margin: .3rem auto;
}

.dev--details--container {
  justify-content: space-between;
  height: 35%;
}

.copyright {
  width: 35%;
  height: 10%;
  font-size: 1.2vw;
  gap: 0.5vw;
}

.copyright > img {
  height: 1.4vw;
  width: 1.4vw;
}

.gen--form {
  position: fixed;
  margin: auto;
  background-color: rgba(108, 240, 121, 1);
  padding: 5%;
  width: 50%;
  border-radius: 10px;
  display: none;
}

.gen--form > input[type="submit"] {
  display: block;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  font-family: monospace;
}

.form--field > * {
  display: block;
  width: 80%;
  margin: .25rem auto;
  font-family: monospace;
  font-size: 1.2rem;
}

.form--field > label {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.remove--form {
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
  color: black;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}

input[type="text"] {
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: monospace;
  padding-left: 10px;
  height: 35px;
  font-size: 95%;
}

#blur {
  position: absolute;
  background-color: rgba(160, 169, 161, 0.9);
  width: 100%;
  height: 100%;
  display: none;
}

@media only screen and (max-width: 600px) {

  .landing--container {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: .5vw;
    margin: 2rem auto;
  }

  .angular--sides {
    width: 100%;
    height: fit-content;
    padding: 1rem 0;
    background-color: rgba(108, 240, 121, 0.4);
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }
  
  .angular--sides > p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 90%;
  }
  
  .hero {
    width: 80%;
    aspect-ratio: 1/1;
  }

  .hero > img {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
  }

  iframe {
    width: 95%;
    margin-bottom: 2rem;
    border-radius: 5px;
  }

  .bottom--border {
    width: 97%;
    height: 2px;
    background-color: #A8D3BE;
    justify-self: center;
  }

  /* footer */

  footer {
    font-family: 'jetBrains Mono' monospace;
    background-color: #369869;
    height: 90vh;
  }

  .footer--container {
    margin: auto;
    height: 96%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .white--bg {
    background-color: #FFF;
    color: #000;
  }

  .dev--label {
    width: 35%;
    height: 2.5rem;
    font-size: 1rem;
  }

  .dev--details--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
  }

  .dev--details {
    background-color: #12E400;
    color: rgba(16, 37, 220, 0.9);
    line-height: 1rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    width: 100%;
    height: 48%;
    border-radius: 10px;
  }

  .dev--details > * {
    width: 85%;
    margin: .3rem auto;
  }

  .copyright {
    width: 45%;
    height: 2.5rem;
    font-size: 3vw;
    gap: 0.3rem;
  }

  .copyright > img {
    height: 4vw;
    width: 4vw;
  }

  .gen--form {
    position: fixed;
    top: 30vh;
    background-color: rgba(108, 240, 121, 1);
    box-shadow: 5px 5px 5px rgba(108, 240, 121, 1);
    padding: 5%;
    width: 100%;
    border-radius: 10px;
    display: none;
  }

}
