*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(209, 208, 204, 0.6);
  /* font-family: 'Montserrat'; */
}

#landing--container {
  margin: 20px;
}

.title {
	color: #5C6AC4;
}

.no--display {
  display: none;
}

nav {
  display: flex;
  background-color: #369869;
  height: 12rem;
  line-height: 12rem;
  padding: 4px 0;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 7rem;
}

#logo {
  height: 8.9rem;
  width: 13.56rem;
  background-image: url('../images/logo.png');
  background-color: #369869;
  background-repeat: no-repeat;
  flex-grow: 1;
}

.show--forms {
  background-color: #12E400;
  border-radius: 21px;
  color: #1025DC;
  width: 13.75rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  cursor: pointer;
  font-family: 'Montserrat' monospace;
  font-size: 2.2rem;
  flex-grow: 0;
}

.hand--pointer {
  cursor: pointer;
}

nav > div:hover {
  background-color: rgba(199, 175, 107, 1);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  gap: 2rem;
}

.angular--sides {
  width: 35rem;
  height: 20rem;
  background-color: rgba(108, 240, 121, 0.4);
  border-top-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.hero {
  width: 25rem;
  height: 20rem;
}

.hero > img {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
}

.center--content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section--desc {
  font-family: 'jetBrains Mono' monospace;
  font-size: 1.3rem;
  color: #007A0C;
  line-height: 1.8rem;
  letter-spacing: .08rem;
}

.gen--form {
  margin: 5px 0;
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  position: relative;
  display: none;
  position: fixed;
  right: 10px;
  top: 40px;
}

.form--field > input {
  display: block;
  left: 0;
  margin: 5px 0px;
}

.remove--form {
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 2px;
  color: red;
  font-size: 1.3em;
  cursor: pointer;
}


.landing--container {
  height: 100%;
}

.title {
  margin: 0 10%;
  padding-top: 5%;
}

ul {
  display: flex;
  justify-content: space-between;
}
