*{
  box-sizing: border-box;
}

body{
  padding: 25px;
  background-color: rgba(209, 208, 204, 0.6);
  height: 100%;
  overflow-y: auto;
}
.title {
	color: #5C6AC4;
}

.no--display {
  display: none;
}

#container {
  display: flex;
}

#sidepane {
  max-width: 200px;
  min-width: 200px;
}

.gen--form,
input {
  margin: 5px 0;
}

span {
  margin: 0;
  padding: 0;
  font-size: 2px;
  display: inline-block;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}

.mode--buttons {
  color: black;
  /* display: inline-block; */
  border: 1px solid blue;
  position: relative;
  background-color: aliceblue;
  margin: 20px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.mode--buttons:hover {
  background-color: blue;
}

.canvas {
  font-size: 0px;
  line-height: 0;
  clear: both;
  background-color: rgb(233, 233, 233);
  width: 1000px;
  height: 1000px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#video-grid {
  display: grid;
  /* overflow-y: scroll; */
  right: 0;
  top: 0;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 200px;
}

#media {
  position: absolute;
  overflow-y: auto;
  right: 1px;
  top: 110px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 3px;
  border-radius: 3px;
}

#myBtn,
#myBtn-v {
  width: 100px;
  height: 30px;
  display: none;
  cursor: pointer;
}

#share--url {
  display: none;
  width: 90%;
  overflow: scroll;
}

.light--red {
  background-color: rgba(242, 47, 47, 0.5);
}

.light--green {
  background-color: rgba(6, 248, 27, 0.5);
}
