[Unit]
Description=server.js - A whiteboard app for developers
After=network.target

[Service]
Environment=PATH="$PATH:/home/ubuntu/.nvm/versions/node/v22.11.0/bin"
WorkingDirectory=/home/ubuntu/whiteBoard/app
ExecStart=/usr/bin/bash start_prod.sh
Type=simple
User=ubuntu
Group=ubuntu
Environment=NODE_PORT=3001
Restart=on-failure

[Install]
WantedBy=multi-user.target
