<!DOCTYPE html>
<html>
  <head>
    <title>no title</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
      <h1 class="title">Hello, client static! </h1>

      <div class="create--wss">
        <input type="button" value="send message" id="send--msg">
      </div>
      <div id="key" class="no--display"><%= key %></div>
      <div id="canvasName" class="no--display"><%= canvas %></div>
      <div id="root"></div>
      <script src="/joinner_script.js"></script>
  </body>
</html>
