<!DOCTYPE html>
<html>
  <head>
    <title>canvas</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
      <h1 class="title">Hello, canvas! </h1>
      <div id="container">
        <div id="sidepane">
            <div id="key" class="no--display"><%= key %></div>
            <form action="" class="gen--form" id="create--canvas--form">
              <div class="">
                <label for="create--canvas--form">Enter canvas name: </label>
                <input type="text" name="create--canvas--form" id='create--canvas--form--val' required>
                </div>
                <div class="">
                <input type="submit" value="create canvas">
              </div>
            </form>

            <div class="create--wss">
                <input type="button" value="create room" id="create--wss">
            </div>

            <div class="create--wss">
                <input type="button" value="clear canvas" id="clear--canvas">
            </div>
            <div class="create--wss">
                <input type="button" value="start media" id="start--media">
            </div>
            <div id="share--url"></div>
            <div class="mode--container">
                <span class="mode--buttons" data-mode="erase">erase</span>
                <span class="mode--buttons" data-mode="draw">draw</span>
            </div>
        </div>
        <div id="root"></div>
      </div>
      <div id="media">
        <div id="video-grid"></div>
        <button id="myBtn">Toggle Audio</button>
        <button id="myBtn-v">Toggle Video</button>
      </div>
      <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
      <script src="/script.js"></script>
      <script src="/media_script.js"></script>
  </body>
</html>
