<!DOCTYPE html>
<html>
  <head>
    <title>canvas</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>

      <div id="container">
        <div id="sidepane">

          <div class="sidepane--btns collapsable">
              <input type="button" value="clear canvas" id="clear--canvas">
          </div>
          <div class="sidepane--btns collapsable">
              <input type="button" value="start media" id="start--media">
          </div>

          <div id="key" class="no--display"><%= key %></div>
          <div id="canvasName" class="no--display"><%= canvas %></div>

          <div class="sidepane--btns undoredo--buttons">
            <input type="button" value="undo" action="undo">
          </div>

          <div class="sidepane--btns undoredo--buttons">
              <input type="button" value="redo" action="redo">
          </div>

        </div>
        <div id="root">
          <div class="canvas--container no--display">
            <canvas id="canvas"></canvas>
          </div>
        </div>
      </div>

      <div id="media">

        <div class="media--btns--container">
          <button id="myBtn">Toggle Audio</button>
          <button id="myBtn-v">Toggle Video</button>
        </div>
        
        <div id="video-grid"></div>
      </div>

      <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
      <script src="/scripts/utils.js"></script>
      <script src="/scripts/joinner_script.js"></script>
      <script src="/scripts/media_script.js"></script>
  </body>
</html>
